
  {% include "web/navbar.html" %}
<link rel="stylesheet" href="/static/web/css/blog_news.css">



  <div class="page">
    <div class="content-box">
      <h1>Free Education Camp for Rural Children</h1>
      <div class="meta">10 January 2026 | Education</div>

      <p>
        Our NGO successfully organized a Free Education Camp for Rural Children
        with the aim of promoting quality education and supporting underprivileged
        students. The camp provided learning materials, interactive teaching
        sessions, and motivational guidance to help children develop interest in
        education and improve their confidence.
      </p>

      <p>
        Dedicated volunteers and teachers conducted engaging activities such as
        storytelling, group discussions, and basic skill development sessions.
        Parents and community members appreciated the initiative and encouraged
        such programs in the future.
      </p>

      <div class="highlight">
        Education is the most powerful tool to change lives and build a brighter future.
      </div>



      <div class="gallery">
        <h2>Photo Gallery</h2>
        <div class="images">
          <img src=" /images/4.jpg">
<img src=" /images/5.jpg">
          
          <img src=" /images/6.jpg">
        </div>
      </div>



      <div class="videos">
        <h2>Event Videos</h2>
        <div class="video-grid">
          <!-- Local Video -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lQvKX1VH1kw?si=Tg7GGYCCfJr34_Cl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          <!-- YouTube Embed -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/B9J2-btd2OM?si=qDw8GH1tYPlKUdRO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>






      


    </div>

    
    
  </div>


    
   <script src="/static/web/javac/blog_news.js"></script>
  {% include "web/footer.html" %}